@import "utils";

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 136px;
  overflow: hidden;
  max-width: 1170px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 40px 30px;
  padding-bottom: 0;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-left: 15px;
    font-size: 32px;
    width: 265px;
  }

  &___more {
    position: relative;
    margin-left: 11px;
    font-size: 32px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eaeaea;
  }

  &__dots {
    display: inline-block;
    height: 0;
    position: relative;
    color: #d8d8d8;
    top: -13px;
    left: 6px;
    font-size: 18px;
  }

  &__right {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  &__photos {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightsalmon;
    margin-left: 5px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__share,
  &__chat {
    width: 67px;
    height: 30px;
    background-color: #eaeaea;
    border-radius: 15px;
    box-sizing: border-box;
    border: none;
    margin-left: 15px;
  }

  &__chat {
    width: 81px;
    background-color: #fff8dd;
    color: #ffc200;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__chat-icon {
    background-image: url("../images/Combined Shape@1x.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    position: relative;
  }

  &__nav {
    box-sizing: border-box;
    width: 761px;
  }
}
