h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
P,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: #131313;
  font-size: 13px;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  max-width: 1170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  padding: 40px 30px;
  padding-bottom: 0; }
  @media screen and (max-width: 650px) {
    .header {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding: 0;
      padding-top: 30px; } }
  @media screen and (max-width: 500px) {
    .header {
      padding-top: 0;
      border-top: 0.1px solid transparent; } }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 650px) {
      .header__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media screen and (max-width: 500px) {
      .header__top {
        margin-top: 28px; } }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 365px; }
    @media screen and (max-width: 450px) {
      .header__left {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 70%; } }
  .header__title {
    margin-left: 15px;
    font-size: 32px;
    width: 265px; }
    @media screen and (max-width: 450px) {
      .header__title {
        line-height: 1;
        font-size: 24px;
        width: inherit; } }
  .header___more {
    position: relative;
    margin-left: 11px;
    font-size: 32px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eaeaea; }
  .header__dots {
    display: inline-block;
    height: 0;
    position: absolute;
    color: #d8d8d8;
    top: 2px;
    left: 6px;
    font-size: 18px; }
  .header__right {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right; }
    @media screen and (min-width: 650px) and (max-width: 1000px) {
      .header__right {
        margin-top: 5px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 212px; } }
    @media screen and (max-width: 650px) {
      .header__right {
        margin-top: 10px;
        margin-bottom: 30px; } }
    @media screen and (max-width: 450px) {
      .header__right {
        margin-top: 20px;
        margin-bottom: 20px; } }
  .header__photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (min-width: 650px) and (max-width: 1000px) {
      .header__photos {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        margin-top: 12px; } }
  .header__photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightsalmon;
    margin-left: 5px;
    overflow: hidden; }
  .header__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .header__share, .header__chat {
    width: 67px;
    height: 30px;
    background-color: #eaeaea;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    margin-left: 15px; }
    @media screen and (max-width: 450px) {
      .header__share, .header__chat {
        margin-left: 8px; } }
  @media screen and (min-width: 650px) and (max-width: 1000px) {
    .header__share {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }
  .header__chat {
    width: 81px;
    background-color: #fff8dd;
    color: #ffc200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    @media screen and (max-width: 1000px) {
      .header__chat {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
  .header__chat-icon {
    background-image: url("../images/Combined Shape@1x.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    position: relative; }
  .header__nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    @media screen and (min-width: 650px) and (max-width: 1000px) {
      .header__nav {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; } }
    @media screen and (max-width: 650px) {
      .header__nav {
        margin: 0 auto; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  height: 100%; }
  .nav__input {
    display: none;
    font-size: 18px; }
  .nav__label {
    display: none;
    font-size: 18px; }
    @media screen and (max-width: 500px) {
      .nav__label {
        background-color: #eaeaea;
        border-radius: 50%;
        width: 42px;
        height: 42%;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 40px;
        right: -25px;
        color: #ffc200;
        font-size: 14px;
        z-index: 3;
        padding-left: 8px;
        padding-right: 0; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 500px) {
      .nav__list {
        -webkit-transition: all 1s;
        transition: all 1s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        padding: 17px 40px 0;
        left: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: #795548;
        width: 100vw;
        height: 100%;
        top: 0;
        border-radius: 30px 0 0;
        font-size: 22px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .nav__item {
    margin-right: 30px; }
    @media screen and (max-width: 500px) {
      .nav__item {
        font-size: 22px; } }
  .nav__link {
    display: inline-block;
    font-family: poppins, roboto, sans-serif;
    padding: 14px 0;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    opacity: 70%;
    font-size: 16px; }
    .nav__link-active {
      opacity: 100%;
      border-bottom: 2px solid #ffc200;
      padding-bottom: 11px; }
    @media screen and (max-width: 500px) {
      .nav__link {
        padding: 6px 3px;
        display: block;
        font-size: 18px;
        color: #eaeaea; } }
    .nav__link:hover {
      color: red; }
    .nav__link:focus {
      background-color: rgba(255, 255, 255, 0.1);
      outline: none;
      color: purple; }
  @media screen and (max-width: 500px) {
    .nav__icon-times.fas {
      display: none; } }

@media screen and (max-width: 500px) {
  #checkbox-menu:checked + .nav__label .fas.fa-bars {
    display: none; }
  #checkbox-menu:checked + .nav__label .fas.fa-times {
    display: block; }
  #checkbox-menu:checked ~ .nav__list {
    left: 0; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.logo {
  background-image: url("../images/logo/Shapes@2x.png");
  background-color: #ffc200;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px; }
  .logo__link {
    display: block;
    width: 100%;
    height: 100%; }
    .logo__link:hover {
      cursor: pointer; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.main {
  grid-column: 2 / 3;
  grid-row: 2;
  max-width: 1600px;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 750px) {
    .main {
      margin-top: 0; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.todos__title {
  font-size: 14px;
  opacity: 50%; }

.todos__container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 40px 577px 53px;
  gap: 30px 0; }
  @media screen and (max-width: 750px) {
    .todos__container {
      grid-template-columns: 40px 1fr 53px; } }

.todos__mark {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%; }
  .todos__mark-checked {
    background-color: #cef9c6; }
  .todos__mark-message {
    background-color: #fff8dd; }
  .todos__mark-download {
    background-color: #e3efff; }

.todos__mark .fas {
  position: relative;
  top: 11px;
  left: 14px; }

.todos__text {
  width: 461px;
  padding-left: 20px;
  font-size: 16px; }
  @media screen and (max-width: 750px) {
    .todos__text {
      padding: 0 15px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; } }

.todos__message {
  margin-top: 20px;
  width: 551px;
  padding: 30px 20px;
  background-color: #f7f6f3;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px; }
  @media screen and (max-width: 750px) {
    .todos__message {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; } }

.todos__progects {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.todos__img {
  margin-right: 10px;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }
  @media screen and (max-width: 750px) {
    .todos__img {
      margin-bottom: 10px; } }

.todos__time {
  width: 100%;
  height: 30px;
  font-size: 14px;
  opacity: 70%; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.content {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 8px;
  padding: 35px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: auto; }
  @media screen and (max-width: 900px) {
    .container {
      display: block; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.aside {
  position: relative;
  background-color: #000;
  color: #fff;
  grid-column: 1 / 2;
  grid-row: 1 / end;
  padding: 30px 30px 20px; }
  @media screen and (max-width: 900px) {
    .aside {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-top: 15px; } }
  @media screen and (max-width: 600px) {
    .aside {
      padding: 10px;
      padding-top: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .aside__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 900px) {
      .aside__header {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; } }
  .aside__btn {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 19px;
    border: none; }
    .aside__btn:hover {
      cursor: pointer; }
    .aside__btn-logo {
      background-image: url("../images/logo/Logo@3x.svg"); }
    .aside__btn-search {
      position: relative;
      padding: 5px;
      color: #fff;
      opacity: 0.5;
      margin-left: 60px; }
      .aside__btn-search .fas {
        position: relative;
        top: -5px; }
  .aside__title {
    margin-left: 13px;
    font-size: 16px;
    color: #fff; }
  .aside__card {
    margin-top: 32px;
    position: relative;
    left: -30px; }
    @media screen and (max-width: 900px) {
      .aside__card {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        margin-top: 0;
        position: static;
        left: 0; } }
    @media screen and (max-width: 600px) {
      .aside__card {
        margin-top: 25px; } }
  .aside__statistic-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }
    @media screen and (max-width: 900px) {
      .aside__statistic-container {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4; } }
  .aside__statistic {
    width: 120px; }
  .aside__number {
    color: #fff;
    font-size: 20px; }
  .aside__label {
    font-size: 12px;
    color: #fff;
    opacity: 0.5; }
  .aside__nav-list {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 900px) {
      .aside__nav-list {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-left: 11%;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media screen and (max-width: 600px) {
      .aside__nav-list {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        margin-left: 0; } }
  .aside__nav-link {
    color: #fff;
    font-size: 14px;
    padding: 8px 0;
    display: inline-block; }
    .aside__nav-link-active {
      color: #878787;
      font-size: 12px; }
    .aside__nav-link:hover {
      cursor: pointer; }
    @media screen and (max-width: 900px) {
      .aside__nav-link {
        padding: 8px 7px; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 80px;
  background-color: #202020; }
  .card__photo {
    margin-left: 30px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .card__container {
    margin-left: 13px; }
  .card__name {
    font-size: 14px;
    color: #fff; }
  .card__position {
    font-size: 12px;
    color: #9b9b9b; }
  .card__btn {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    margin-left: 35px;
    color: #d8d8d8; }
    .card__btn:hover {
      cursor: pointer; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
